{% extends 'base.html' %}

{% block content %}

{% if Filmtitel %}

    {{ Filmtitel }}

{% endif %}

{% if api %}

    {% if api == "Error2" %}

    </br>
    <h3>Der eingegebene Filmtitel wurde nicht gefunden. Bitte erneut versuchen!</h3><br/><br/>

    {% elif api == "Error1" %}

    Die Datenbank ist aktuell nicht erreichbar. Bitte in ein paar Minuten erneut versuchen.

    {% else %}

    <div class="jumbotron">
    <ul>
        {% for key, value in api.items %}
            <li>{{key}}: {{value}}</li>
        {% endfor %}
    </ul>
    </div>

    {% endif %}
{% endif %}

{% endblock %}
