{% extends 'base.html' %}

{% block content %}

{% if zipcode %}

    {{ zipcode }}

{% endif %}

{% if api %}

    {% if api == "Error2" %}

    </br>
    <h3>Der eingegebene ZIP-Code ist fehlerhaft. Bitte erneut versuchen!</h3><br/><br/>

    {% elif api == "Error1" %}

    Die API ist aktuell nicht erreichbar. Bitte in ein paar Minuten erneut versuchen.

    {% else %}

    <div class="jumbotron {{ category_color }}">
        <h3 class="display-4">Luftqualität in {{ api.0.ReportingArea }} ist {{ category_name }} aktuell.</h3></br>
        <p class="lead">Qualitätsindex = {{ api.0.AQI }}</p>
        <p>Von {{ category_description }}</p>
      </div>

    {% endif %}
{% endif %}

{% endblock %}
