{% extends 'base.html' %}

{% block content %}

{% if zipcode %}

    {{ zipcode }}

{% endif %} 

{% if api %}

    {% if api == "Error..." %}

    Es ist ein Fehler passiert, bitte lade die Seite erneut.

    {% else %}    

    <div class="jumbotron {{ category_color }}">
        <h1 class="display-4">{{ api.0.Category.Name }}</h1>
        <p class="lead">Qualitätsindex = {{ api.0.AQI }}</p>
        <p>Von {{ category_description }}</p><br/>
        <a class="btn btn-primary btn-lg" href="http://paul.zechs.de" role="button">Zum Entwickler</a>
        <a class="btn btn-primary btn-lg" href="https://docs.airnowapi.org/" role="button">Zur API Quelle</a>
      </div>

    {% endif %}
{% endif %}

{% endblock %}

